name: xuexi
on:
  workflow_dispatch:
    schedule:
      - cron: '0 */8 * * *'

    watch:
      types: [ started ]
jobs:
   build:
       runs-on: windows-latest
       steps:
          - uses: actions/checkout@v2

          - name: Set up Python 3.7
            uses: actions/setup-python@v2
            with:
                python-version: 3.7
          - name: install pip packages
            run: python -m pip install --upgrade pip
          - name: install pycryptodome
            run: pip install pycryptodome
          - name: install requests
            run: pip install requests
          - name: china_telecom
            run: python china_telecom.py
            env:
              TELECOM_PHONE: ${{ secrets.TELECOM_PHONE }}
              TELECOM_PASSWORD: ${{ secrets.TELECOM_PASSWORD }}
